.tabbed-content {
  .tabbed-content-tabs-wrapper {
    position: fixed;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 15px;
  }

  .tab-content.tab-space {
    padding-top: 93px;
    width: 100%;
  }
}
